@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* *{
  margin: 0;
  padding: 0;
} */
#navigasi {
  background-color: #257180;
  padding-bottom: 300px;
}
.container-navigasi {
  /* background-color: blueviolet; */
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.logo-header {
  /* background-color: aqua; */
  display: flex;
}

.txt {
  margin-left: 10px;
  font-size: 20px;
  color: white;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}

.list-nav {
  /* background-color: aquamarine; */
  display: flex;
  list-style: none;
  /* justify-content: space-between; */
}

.list-nav li {
  /* background-color: bisque; */
  text-align: center;
  /* padding-top: 15px; */
  font-family: "Cabin", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;

  width: 200px;
}
.list-nav li:hover {
  /* text-decoration: underline; */
  font-weight: bold;
}

.button-header {
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  font-family: "Cabin", sans-serif;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button-header:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button-header:focus {
  outline: none;
}

.button-header.color-2 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}




/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

.Inovasi {
  color: white;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 50px;
}
.berwarna {
  font-size: 50px;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  color: #f95454;
}
.berwarna {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.berwarna:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;
}

/* Presentational styles */
.berwarna {
  color: #f95454;
  font-family: "Cabin", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.txt-2 {
  width: 600px;
}
.txt-2 p {
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 20px;
}


.button-navigasi {
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* margin: 20px; */
  margin-top: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  font-family: "Cabin", sans-serif;

  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button-navigasi:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.button-navigasi:focus {
  outline: none;
}

.button-navigasi.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}



/* MENEJEMEN PONDOK */
#menejemen{
  background-color: #7FA1C3;
  

  
}
.container-menejemen{
  /* background-color: #2bb673; */
  display: flex;
  justify-content: center;
  

 
 
}
.asest-menejemen{
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #4D869C;
  width: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin-top: -150px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  
  
  
}
.asest-menejemen h1{
  text-align: center;
  color: white;
  font-family: "Cabin", sans-serif;
  font-size: 35px;
 

}
#test{
  overflow: hidden;
}
.conten img{
 width: 100%;
}
.conten{
  padding-top: 20px;

  /* background-color: #30dd8a; */
  display: flex;
  /* margin-bottom: 20px; */
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
}
.conten .img{
  /* background-color: #f95454; */
  width: 100px;
  padding-left: 20px;
  margin-bottom: 20px;
 
}


